[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=str
Group=str

WorkingDirectory=/home/str/31rso/
Environment="PYTHONPATH=/home/str/31rso/"
ExecStart=/home/str/31rso/.venv/bin/python /home/str/31rso/bot_main.py

[Install]
WantedBy=multi-user.target